extends layout

block content
  h1= title

  form(method='POST')
    div.form-group
      label(for='name') Disc Name:
      input#name.form-control(type='text', placeholder='Name of disc' name='disc' required value=(undefined===disc ? '' : disc.name) )
    div.form-group
      label(for='manufacturer') Manufacturer:
      select#manufacturer.form-control(name='manufacturer' required)
        option(value='') --Please select an manufacturer--
        for manufacturer in manufacturers
          if book
            if manufacturer._id.toString()===book.manufacturer._id.toString()
              option(value=manufacturer._id selected) #{manufacturer.name}
            else
              option(value=manufacturer._id) #{manufacturer.name}
          else
            option(value=manufacturer._id) #{manufacturer.name}
    div.form-group
      label Disctype:
      div
        for disctype in disctypes
          div(style='display: inline; padding-right:10px;')
            if disctype.checked
              input.checkbox-input(type='checkbox', name='disctype', id=disctype._id, value=disctype._id, checked)
            else
              input.checkbox-input(type='checkbox', name='disctype', id=disctype._id, value=disctype._id)
            label(for=disctype._id) &nbsp;#{disctype.name}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
